<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head-consulta" />
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragments/indexHeader"></div>
	</nav>
	<div id="wrapper">
		<div th:replace="fragments/indexMenu"></div>
	</div>
	<div th:fragment="content">
		<div class="container">

			<div class="panel content-main">
				<div class="panel">
					<div class="page-head">
						<ol class="breadcrumb page-head-nav">
							<li><span style="font-size: 20px; cursor: pointer" onclick="openNav()">&#9776;</span></li>
							<li><a href="#">Home</a></li>
		                    <li>Bandeja</li>
		                    <li class="active">#</li>
						</ol>
					</div>
					
					
					<div class="panel-body">
						
					      <div class="row">
					      	
							<div class="col-sm-43">
								&nbsp;
							</div>
					    </div>
					</div>	
					<hr style="margin-top: 1px;  margin-bottom: 1px; "/>
					     
					    
				</div>
						

					
			</div>
			
		</div>
		
		
	</div>
	<footer th:replace="layout :: footer-consulta"></footer>
	<div th:fragment="javascript">
		<script type="text/javascript"
			th:src="@{/js/bandeja.js}"></script>
	</div>
</body>
</html>