<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head-consulta" />
<body>
	<div th:fragment="content">
		<div class="containerLogin">
				<input id="urlSec" name="urlSec" type="hidden" th:value="${urlSec}" />
				<input id="codigoSistema" name="codigoSistema" type="hidden" th:value="${codigoSistema}" />
			    <div class="login_panel">
                    <div class="panel panel-border-color-primary">
                        <div class="panel-heading">
                        	<img alt="logo" width="200" height="60" class="logo-img" th:src="@{img/logo.png}" /><br/>
                        	<span class="description-login">Cambio de Contraseña.</span>
                        	
                        </div>
                        <div class="panel-body">
                            
                            <form id="frmUpdatePass" action="./cambioPassword" th:object="${cambioPasswordForm}" method="POST">
                            	<div class="form-group">
                                    <input id="usuarioCambioClave" name="usuarioCambioClave" th:field="*{usuario}" type="text" readonly="readonly" placeholder="Usuario" autocomplete="off" class="formulario_login numeric" />
                                    <span th:if="${#fields.hasErrors('usuario')}" class="help-block" th:errors="*{usuario}"></span>
                                </div>
                            	<div class="form-group">
                                    <input id="passwordA" type="password" th:field="*{contrasena}" placeholder="Contraseña Actual" class="formulario_login" />
                                    <span th:if="${#fields.hasErrors('contrasena')}" class="help-block" th:errors="*{contrasena}"></span>
                                </div>
                                <div class="form-group">
                                    <input id="passwordN" name="passwordN" type="password" th:field="*{contrasenaNew}" onkeypress="return check(event);" placeholder="Nueva Contraseña" class="formulario_login" />
                                    <span th:if="${#fields.hasErrors('contrasenaNew')}" class="help-block" th:errors="*{contrasenaNew}"></span>
                                    <meter max="4" id="password-strength-meter"></meter>
									<p id="password-strength-text"></p>
                                </div>
                                <div class="form-group">
                                    <input id="passwordR" name="passwordR" type="password" th:field="*{contrasenaConfirm}" onkeypress="return check(event);" placeholder="Repita nueva Contraseña" class="formulario_login" />
                                    <span th:if="${#fields.hasErrors('contrasenaConfirm')}" class="help-block" th:errors="*{contrasenaConfirm}"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class=" login-submit btn btn-primary btn-xl" id="cambioClave">Cambiar contraseña</button>
                                </div>
                                <div>
	                                <ul style="font-size: 9px; color: #030303; font-weight: bold; "> 
										<li> 
										<p align="justify"> 
										Debe tener entre 8 y 20 caracteres.</p> 
										</li> 
										<li> 
										<p align="justify"> 
										Debe incluir números y letras en mayúsculas y minúsculas.</p> 
										</li> 
										<li> 
										<p align="justify"> 
										Debe incluir un caracter especial (#$%&amp;_+*)</p> 
										</li> 
									</ul> 
                                </div>
                            </form> 
                            
                            <div>
                            	<p style="color:red; font-size: 15px;font-weight: bold;"> <span  th:text="${mensaje}"></span></p>
                            </div>

                            
                        </div>
                    </div>
                    <div class="splash-footer"><span>© JUNTOS 2019 </span></div>
                </div>
            
		</div>
			
	</div>
	<footer th:replace="layout :: footer-consulta"></footer>
	<div th:fragment="javascript">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>	
		<script type="text/javascript" th:src="@{js/cambioContraseña.js}"></script>
	</div>
</body>
</html>