<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head-consulta" />

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragments/indexHeader"></div>
	</nav>
	<div id="wrapper">
		<div th:replace="fragments/indexMenu"></div>
	</div>
	<div th:fragment="content">
	
		<div class="container">
			<div>
				<input id="expedienteSeleccionada" type="hidden" />
			</div>

			<div class="panel content-main">
				<div class="panel">
					<div class="page-head">
						<ol class="breadcrumb page-head-nav">
							<li><span style="font-size: 20px; cursor: pointer"
								onclick="openNav()">&#9776;</span></li>
							<li><a href="#">Home</a></li>
							<li>Rendicion</li>
							<li class="active">Aprobación</li>
						</ol>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
							
								<b class="text-primary"><small>FILTRO</small></b><br/><br/>
								
								<div class="col-sm-12">
									<div class="col-sm-4">
									<p style="margin-left: 5px;">
										<b><small>SEDE&nbsp;</small></b>: <span id="sedeF"></span><br/>
									</p>
									
									</div>
									<div class="col-sm-7">
										<div class="col-sm-6">
											<input type="text" class="form-control"
													name="fechaBusIni" id="fechaBusIni" placeholder="Fecha Inicio Desde"/>
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control"
													name="fechaBusFin" id="fechaBusFin" placeholder="Fecha Inicio Hasta"/>
										</div>

									</div>
									<div class="col-sm-1">
										<div class="input-group">
											<button class="btn btn-azul" 
												onclick="cargarConsulta();">
												<i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Buscar
											</button>
											
										</div>
									</div>
									<br/><br/>
								</div>
								
							
							</div>
						</div>
					</div>

					<hr style="margin-top: 1px; margin-bottom: 1px;" />
					<div class="panel-body">
						<div class="row" style="padding-left: 15px; padding-right: 10px;">
							<div class="col-sm-7">
								<h4 class="text-primary">LISTADO RENDICIONES</h4>
								<br />
							</div>
							<div class="col-sm-3">&nbsp;</div>
							<div class="col-sm-2">
								<div class="input-group">
									<button class="btn btn-danger" onclick="nuevoRendicion();">
										<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Nuevo
									</button>

								</div>
							</div>
						
						</div>
						<div class="row">

							<div class="table-responsive"
								style="padding: 1em; text-align: center;">
								<table id="listadoComisiones"
									class="table table-striped table-hover table-fw-widget table-text-small display3"
									style="width: 100%; overflow-x: auto;">
									<thead>
										<tr style="text-align: left;">
											<th class="small col-md-2">Fecha de Comisión</th>
											<th class="small col-md-4">Administrado</th>
											<th class="small col-md-1">Importe</th>
											<th class="small col-md-2">Estado</th>
											<th class="small col-md-2">Aprobado</th>
											<th class="small col-md-1" style="text-align: center;">Opciones</th>

										</tr>
									</thead>
									<tbody style="font-size: 11px; text-align: left;">


									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div th:include="views/moduloRendicion/rendicionAdministrado/modales/itemRendicion"></div>
	
	</div>
	<footer th:replace="layout :: footer-consulta"></footer>
	<div th:fragment="javascript">
		<script type="text/javascript" th:src="@{/js/rendicionAprobacion.js}"></script>
		<script th:inline="javascript">
			var sede = [[${sede}]];
		</script>
		
	</div>
</body>
</html>