<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head-consulta" />

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div th:replace="fragments/indexHeader"></div>
	</nav>
	<div id="wrapper">
		<div th:replace="fragments/indexMenu"></div>
	</div>
	<div th:fragment="content">
	
		<div class="container">
			<div>
				<input id="expedienteSeleccionada" type="hidden" />
			</div>

			<div class="panel content-main">
				<div class="panel">
					<div class="page-head">
						<ol class="breadcrumb page-head-nav">
							<li><span style="font-size: 20px; cursor: pointer"
								onclick="openNav()">&#9776;</span></li>
							<li><a href="#">Home</a></li>
							<li>Apertura Cierre</li>
							<li class="active">Apertura Cierre</li>
						</ol>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
							
								<b class="text-primary"><small>FILTRO</small></b><br/><br/>
								
								<div class="col-sm-12">
									<div class="col-sm-4">
									<p style="margin-left: 5px;">
										<b><small>SEDE&nbsp;</small></b>: <span id="sedeF"></span><br/>
										<input type="hidden" id="sedeSel" name="sedeSel" >
									</p>
																		
									</div>
									
									
									<div class="col-sm-1">
									
									<p style="margin-left: 5px;">
										<b><small>AÑO&nbsp;</small></b>: 
									</p>
									
									</div>
									
									<div class="col-sm-4">
									
									<select class="form-control input-sm select2" id="selAnios">
											<option value="0">Seleccione Año</option>
											<option th:each="anio : ${listadoAnio}"
													th:value="${anio.anio}"
													th:text="${anio.descripcion.trim()}"></option>
									</select>
																		
									</div>
									
									<div class="col-sm-1">
										<div class="input-group">
											<button class="btn btn-azul" 
												onclick="cargarConsulta();">
												<i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Buscar
											</button>
											
										</div>
									</div>
									<br/><br/>
								</div>
								
							
							</div>
						</div>
					</div>

					
					
					<hr style="margin-top: 1px; margin-bottom: 1px;" />
					<div class="panel-body">
						<div class="row" style="padding-left: 15px; padding-right: 10px;">
							<div class="col-sm-7">
								<h4 class="text-primary">LISTADO - APERTURA Y CIERRE</h4>
								<br />
							</div>
							<div class="col-sm-3">&nbsp;</div>
							<div class="col-sm-2">
								<div class="input-group">
									<button class="btn btn-danger" onclick="nuevaApertura();">
										<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Nuevo
									</button>

								</div>
							</div>
						
						</div>
						<div class="row">

							<div class="table-responsive"
								style="padding: 1em; text-align: center;">
								<table id="listadoAperturaCierre"
									class="table table-striped table-hover table-fw-widget table-text-small display3"
									style="width: 100%; overflow-x: auto;">
									<thead>
										<tr style="text-align: left;">
											<th class="small col-md-1">Año</th>
											<th class="small col-md-4">Concepto</th>
											<th class="small col-md-2">Clasificador de Gasto</th>
											<th class="small col-md-2">Monto Apertura</th>
											<th class="small col-md-2">Liquidación</th>
											<th class="small col-md-2">Ejecución</th>
											<th class="small col-md-2">Saldo</th>
											<th class="small col-md-1" style="text-align: center;">Opciones</th>

										</tr>
									</thead>
									<tbody style="font-size: 11px; text-align: left;">


									</tbody>
								</table>
							</div>

						</div>
					</div>
					
					
					
					
					
				</div>
			</div>

		</div>

		<div th:include="views/moduloAperturaCierre/apertura/modales/nuevo"></div>
	
	</div>
	<footer th:replace="layout :: footer-consulta"></footer>
	<div th:fragment="javascript">
		<script type="text/javascript" th:src="@{/js/aperturaCierre.js}"></script>
		<script th:inline="javascript">
			var sede = [[${sede}]];
			var selAnio = [[${selAnio}]];
		</script>
		
	</div>
</body>
</html>