<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div role="dialog" class="modal fade colored-header colored-header-primary" id="modalVisualizaPerfil" >
		<div class="modal-dialog custom-width">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="glyphicon glyphicon-remove cerrarIcon"></span></button>
                    <h3 class="modal-title">Selección de Perfil</h3>
                </div>
                <div class="modal-body">
                   
                   			<div class="row">
								<b class="text-primary"><small>PERFIL</small></b><br/><br/>
								
								<div class="col-md-12">
										<select class="form-control input-sm select2" id="selPerfil">
											<option value="0">Seleccione</option>
										</select>
								</div>
								

							</div>
                   
                </div>
                
                <div class="modal-footer">
                
                	<button type="button" data-dismiss="modal" class="botonAzul" id="retornarSeguridad" >
                    	<i class="glyphicon glyphicon-transfer"></i>
                    	Aceptar
                    </button>
                </div>
            </div>
        </div>
	</div>

</body>
</html>