<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div role="dialog"
		class="modal fade colored-header colored-header-primary"
		id="modalMensajeContrasenaExpiro">
		<div class="modal-dialog custom-width">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">ESTIMADO/A USUARIO</h3>
					
				</div>

				<div class="modal-body">
					<div class="panel" style="padding-left: 5px; padding-right: 5px;">
						<div class="row">
							<div class="col-sm-12 text-center">
								<p>Su contraseña ha expirado, para crear una nueva contraseña de acceso a los aplicativos informaticos</p>
								<p>comuníquese con  su respectivo soporte tecnico de JUNTOS</p>
								
							</div>
						</div>	
					</div>

				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>